.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#admin-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divbtn {
  float: left;
  margin-left: 20px;
}

.score {
  margin: 30px;
}

.container-with-space  {
  margin-bottom: 20 px;

}

.question {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

.option {
  margin-bottom: 5px;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
